#header{font-weight:bold; 
    text-align:center; 
    text-transform: uppercase} 
#footer{text-align:center}
a{

}
a:link {
    color:blue;
}
a:visited {
    color:red;
}
a:hover {
    font-weight: bold;
}
a:active {
    text-decoration: none; 
}
th {text-align:center; 
}
tr {text-align:center;
}
.carousel-inner {
    background-color: red
}